<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/header.ejs') %>
    <title><%- title %></title>
</head>

<body>
  <%- include('../partials/sidebar.ejs')%>
  
  <div class="container">

    <div class="window"><div id="bar"><p id="title"><%- title %></p></div>
      <div class="window-content">
      <%- body%>
    </div>

    </div>

  </div>
  
  <script src="js/test.js"></script>
</body>

</html>