<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/header.ejs')%>
    <title><%- title %></title>
</head>

<body>
  <%- include('../partials/sidebar.ejs')%>   
  <div id="mainPanel" class="floatright">
    <div id="window">
      <div id="bar"><p id="title"><%- title %></p></div>
      <div id="page-content">
        <%- body %>
      </div>
    </div>
</div>
</body>

</html>