<style>
    input[type=number]{
        width: 38px;
    }
</style>

<h1>Hello <%= user %></h1>

<p>There are currently <span style="color:rgb(0, 201, 0);"><%=online%></span> user(s) online</p>


<form method="POST" action="/logout">
    <input type="button" value="Account Settings" disabled>
    <input type="submit" value="logout">
</form> <br>

<fieldset>
    <legend>Your Personal Best</legend>
    <form action="/updatestats" method="POST">
    <label for="bench">Bench:</label>
    <input type="number" name="bench" value="<%= userdata.b %>" max="999">
    <label for="squat">Squat:</label>
    <input type="number" name="squat" value="<%= userdata.s %>" max="999">
    <label for="deadlift">Deadlift:</label>
    <input type="number" name="deadlift" value="<%= userdata.d %>" max="999">
    <input type="submit" value="Update Max">
    </form>
    <h4>Bench: <%= userdata.b %> Squat: <%= userdata.s %> Deadlift: <%= userdata.d %></h4>
</fieldset>

<fieldset>
    <legend>My Current Workout</legend>
    <form action="/changeprogram" method="POST">
        <select name="program" id="programs">
        </select>
        <input type="submit" value="Change Program">
    </form>

    <h4>Concept: <%= userdata.program.c %> <br> Program: <%= userdata.program.p %> Week: <%= userdata.program.w %> Day: <%= userdata.program.d %></h4>
    <form action="/workout">
        <input type="submit" value="BEGIN WORKOUT!">
    </form>

    <br>
    <input type="button" value="See Progress" disabled>
</fieldset>

<fieldset>
    <legend>My Programs</legend>

    <form action="/editor">
        <select id="concepts" name="concept">
            <option value="concept">concept</option>
        </select>
        <select id="myprograms" name="myprograms">
            <option value="myprogram">myProgram</option>
        </select>
        <input type="submit" value="Edit">
    </form>
    <br>
    <form>
        <input type="submit" value="Make New Program" disabled>
    </form>

</fieldset>

<fieldset>
    <legend>Subscriptions</legend>

    
    <input type="button" value="Manage Subscriptions" disabled>
    <input type="button" value="Search Concept Database" disabled>

</fieldset>

<script>
    fetch('/programs')
    .then(res => res.json())
    .then(p =>{
        const select = document.getElementById("programs");
        for(let i = 0; i < p.length; i++){
            const option = document.createElement("option");
            option.setAttribute("value", p[i].name);
            option.innerHTML = p[i].name;
            select.appendChild(option);
        }
    })
</script>